<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Avenger Vote</title>
  </head>
  <body>
    <h1>Vote for your favorite Avenger</h1>
    <form action="/vote" method="POST">
      <fieldset>
        <legend>Avengers</legend>
        <p>Choose your favorite superhero:</p>
        <label><input type="radio" name="avengervote" value="Iron Man">Iron Man</label>
        <label><input type="radio" name="avengervote" value="Thor">Thor</label>
        <label><input type="radio" name="avengervote" value="Black Widow">Black Widow</label>
        <label><input type="radio" name="avengervote" value="Hulk">Hulk</label>
        <label><input type="radio" name="avengervote" value="Captain America">Captain America</label>
        <label><input type="radio" name="avengervote" value="Black Panther">Black Panther</label>
        <input type="submit" name="avenger-vote" value="Cast Your Vote">
      </fieldset>
    </form>
    <h2>Rankings</h2>
    <div id="ranking">
      <table>
        <thead>
          <tr>
            <td>Superhero</td>
            <td># of Votes</td>
          </tr>
        </thead>
        <tbody>
          <% avengers.forEach(function(avenger) { %>
            <tr>
              <td><%= avenger.name %></td>
              <td><%= avenger.votes %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- <ol>
    <% avengers.forEach(function(avenger) { %>
      <li>
        <%= avenger.name %> , <%= avenger.votes %>
      </li>
    <% }) %>
    </ol> -->
  </body>
</html>