<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Avenger Vote</title>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <h1>Vote for your favorite Avenger</h1>
    <form action="/vote" method="POST">
      <fieldset>
        <legend>Avengers</legend> 
        <p>Choose your favorite superhero:</p>
        <div class="container">
          <div class="item">
            <label class="item"><img src="iron-man.jpeg" alt="Iron Man"><br /><input type="radio" name="avengervote" value="Iron Man">Iron Man</label>
          </div>
          <div class="item">
            <label class="item"><img src="thor.jpeg" alt="Thor"><br /><input type="radio" name="avengervote" value="Thor">Thor</label>
          </div>
          <div class="item">
            <label class="item"><img src="black-widow.jpeg" alt="Black Widow"><br /><input type="radio" name="avengervote" value="Black Widow">Black Widow</label>
          </div>
          <div class="item">
            <label class="item"><img src="hulk.jpeg" alt="hulk"><br /><input type="radio" name="avengervote" value="Hulk">Hulk</label>
          </div>
          <div class="item">
            <label class="item"><img src="captain-america.jpeg" alt="Captain America"><br /><input type="radio" name="avengervote" value="Captain America">Captain America</label>
          </div>
          <div class="item">
            <label class="item"><img src="black-panther.jpeg" alt="Black Panther"><br /><input type="radio" name="avengervote" value="Black Panther">Black Panther</label>
          </div>
        </div>
        <input type="submit" name="avenger-vote" value="Cast Your Vote">
      </fieldset>
    </form>
    <h2>Current Rankings</h2>
    <div id="ranking">
      <table>
        <thead>
          <tr>
            <th>Superhero</th>
            <th># of Votes</th>
          </tr>
        </thead>
        <tbody>
          <% avengers.forEach(function(avenger) { %>
            <tr>
              <td><%= avenger.name %></td>
              <td><%= avenger.votes %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- <ol>
    <% avengers.forEach(function(avenger) { %>
      <li>
        <%= avenger.name %> , <%= avenger.votes %>
      </li>
    <% }) %>
    </ol> -->
  </body>
</html>