body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 1.4em;
  margin: 2em auto 0 auto;
  width: 80%;
}

img {
  height: 150px;
  width: 100px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 1em auto;
  width: 90%;
}

.item {
  margin: 5px;
  padding: 5px;
  text-align: center;
  height: 15%;
  width: 20%;
}

input[type="submit"] {
  background-color: rgb(76, 86, 106);
  color: whitesmoke;
  font-size: 1em;
  padding: .5em 1em .5em 1em;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px black solid;
  padding: 0.25em;
  text-align: center;
}